<ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About us</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <!-- <li><a routerLink="/appointments">Appointments</a></li> -->
    <!-- <li><a routerLink="/contact">Contact us</a></li> -->
    <!-- <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive = "selected">Log In</a></li>
    <li *ngIf="isLoggedIn"><a href class="nav-link" (click)="logout()">Log Out</a></li> -->
    <!-- <li ><app-profile-modal></app-profile-modal></li> -->
</ul>
