.btn-primary2 {
    // background-color: rgba(139, 0, 0, 0.8);
    background-color: white;
    // rgb(255, 238, 218);
    border: 0;
    border-radius: 15px;
    height: 40px;
    color: black;
    align-content: center;
    width: 10%;
    font-size: 18px;
    font-weight: 700;
    // margin-top: -70px;
    margin-right: 24px;
    float: right;
}

button:hover{ background-color: #f38255;}